#Hovedboks {
        width:1400px;
        height:700px;
        float:left;
        background-color: white;
            
    }
        #Header{
         width: 1400px;
            height: 150px;
            background-color: white;
                float: left;
        }
        #styr{
            width: 150px;
            height:580px;
            background-color: white;
            float: left;
        }    
        #stydr{
            width: 150px;
            height: 580px;
            background-color: white;
            float: right
        }
        #Innhold{
            width: 1250px;
            height: 550px;
            background-color: white;
            margin: 0px;
            padding: 0px;
        }
       
        }
        h1{
            font-size: 20px;
            color: white
        }
        #bildet{
            height: 150px;
            width: 150px;
            margin-top: 0px;
        }
        #bildeten{
            height: 350px;
            width:29%;
            float: left;
            border-radius:  200px;
            border-style: solid;
        border-width: 2px;
        border-color: black; 
                
            
        }
         }
        #bildeten{
            height: 200px;
            width:300px;
            float: left
            
        }
         }
        #bildeten{
            height:150px;
            width:300px;
            float: left
            
        }
        #Hei{
            font-size: 30px;
            text-align: center;
                color: white
        }